 

.custom-list-style mat-list-item{
font-size: 1rem !important;
  
}

/* .custom-list-style:nth-child(even){
    background-color:#ffffff !important;
} */

.custom-list-style:nth-child(odd){
    background-color: #eae9fc !important;
}

